.navbar-top{
    width: 100%;
    height: 5rem;
    background-color: var(--bg-secondary);
}

.username{
    color: var(--text-primary);
    float: right;
    padding: 2rem;
}
.username:hover{
    color:#ececec;
}